doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Links
    body 
        h1 您好!{username}
        h2 !{list}
        div
            ul#list
        form(action="/user/:username" method="post") 
            label 名稱
            input#title(type="text" name="title" required='')
            br
            label 網址
            input#link(type="text",name="link" required='')
            br
            button#push(type="submit") 加入
        a(href="/")
            button 登出